extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body

		.header
		.loaderBase
			.lds-eclipse
				.spinner
				.spinner.reverse

		.body
			section#local1.sec1.local.local1(local=1)
				.base
					.baseCenter.animated.fadeInLeft.delay2
						h2.mt0 TREINAMENTO ANUAL DE COMPLIANCE
						
				
					.containerTxt.wow.fadeInUp.delay3
						.text.par1.white 
							| Na AstraZeneca, <b>agimos com integridade em todas as decisões e relações comerciais</b>.
						.text.text1.mt1.par2.white 
							| Este treinamento foi criado para <b>fortalecer uma cultura ética e apoiar o crescimento responsável</b>. 
						.text.text1.mt1.white 
							| Durante o treinamento, vamos abordar riscos importantes, <br>como suborno, corrupção, promoção <i>off label</i>, privacidade de dados, fraude, concorrência e propriedade intelectual, além de apresentar ferramentas práticas para mitigá-los.
						.text.text1.mt1.white 
							| <b>Compliance é responsabilidade de todos, e este é o momento de reforçar nosso compromisso com ética, transparência e excelência.</b>
						
						.barra
						img.img1.wow.fadeInUp.delay3(src="../../assets/img/2025b/section01.png", alt="")
						img.img2.wow.zoomIn.delay5(src="../../assets/img/2025b/section01b.png", alt="")
						
					
					.containerTxt.containerTxt2.wow.fadeInUp.delay3
						h2.azul
							| DESAFIOS ENFRENTADOS
						
						.text.text1.mt1.roxo.bold 
							| Aumento da Fiscalização Governamental
						.text.text1 
							| Enfrentamos uma concorrência intensa de grandes empresas locais que podem se beneficiar de maior apoio governamental.

						.text.text1.mt1.roxo.bold 
							| Necessidade de Capacidades e Talentos
						.text.text1 
							| O crescimento dos nossos negócios exige mais capacidades e talentos, incluindo liderança empresarial e gestão de riscos, para enfrentar os desafios futuros.

						.text.text1.mt1.roxo.bold 
							| Engajamento em Campo
						.text.text1 
							| Com a expansão das nossas equipes, em algumas ocasiões não conseguimos acompanhar em tempo hábil o que está acontecendo nas operações de campo.

						.text.text1.mt1.roxo.bold 
							| Crescimento das Atividades Promocionais<br> e Projetos Inovadores
						.text.text1 
							| O aumento dessas atividades traz o desafio de gerenciá-las de forma eficaz e monitorar os riscos associados.
						
						.text.text1.mt1.roxo.bold 
							| Colaboração com Parceiros do Ecossistema
						.text.text1 
							| O envolvimento com terceiros, especialmente em iniciativas como o <b>Transform Care</b>, implica na gestão de riscos adicionais.


						.player
							button.openModal.pulse(mod="modalGeral1") 
								img.wow.zoomIn(src="../../assets/img/2025b/section01c.png", alt="")
			
			.modalBase.modalGeral.modalGeral1.wow.fadeIn
				.modalBaseData
					video(src="../../assets/video/video1.mp4" controls controlsList="nodownload"  poster="../../assets/video/video1.png")
					button.close-btn.modal-close.pulse 
						img.wow.zoomIn(src="../../assets/img/close.svg", alt="")
							
				
			//- .secRef
			section#local2.sec2.atB.at01.local.local2(local=2)
				img.img1.wow.fadeInUp.delay3(src="../../assets/img/2025b/section02.png", alt="")
				
				.info.wow.fadeInUp
					.sec2_block01.wow.fadeInUp
						h2
							| ANÁLISE DE RISCOS
						.text.white.mt1
							| A análise de riscos é fundamental para garantir decisões éticas e alinhadas aos valores da AZ. Para orientar esse processo, utilizamos quatro princípios-chave, <b>os chamados ‘4Psʼ</b>, que servem como reflexão para avaliar dilemas e tomar decisões responsáveis. Clique para conhecê-los:


				
					<div class="flipcards wow fadeInUp">
						<div class="flipcard flipcard--red">
							<div class="flipcard__inner">
								<div class="__front">
									<h1>1</h1>
								</div>
								<div class="__back">
									h4 Propósito
									p Está alinhado com nossos valores? Essa decisão pode impactar nossa reputação como empresa?
									h1 1
								</div>
							</div>
						</div>
						<div class="flipcard flipcard--blue">
							<div class="flipcard__inner">
								<div class="__front">
									<h1>2</h1>
								</div>
								<div class="__back">
									h4 Política
									p É legal e está em conformidade? É permitido pelas nossas Políticas e Procedimentos e pelas leis locais?
									h1 2
								</div>
							</div>
						</div>
						<div class="flipcard flipcard--yellow">
							<div class="flipcard__inner">
								<div class="__front">
									<h1>3</h1>
								</div>
								<div class="__back">
									h4 Percepção
									p Preciso de mais informações para tomar uma decisão consciente?
									h1 3
								</div>
							</div>
						</div>
						<div class="flipcard flipcard--yellow">
							<div class="flipcard__inner">
								<div class="__front">
									<h1>4</h1>
								</div>
								<div class="__back">
									h4 Processo
									p Sei qual processo devo seguir?
									h1 4
								</div>
							</div>
						</div>
					</div>

				.text.white.wow.fadeInUp
						| Na AstraZeneca, usamos o modelo de <b>três linhas de defesa</b> para atuarmos na identificação e mitigação dos riscos, sendo:
				ul.ml2.white.wow.fadeInUp
					li.white 1ª linha: <b>Áreas de negócio</b>;
					li.white 2ª linha: <b>Compliance</b>;
					li.white 3ª linha: <b>GIA (Group Internal Audit)</b>.

				.text.white.mt1.wow.fadeInUp
						| <b>Como 1ª linha de defesa</b>, as equipes de negócios avaliam e gerenciam riscos, mantêm controles diários e monitoram as atividades, registrando e resolvendo eventuais problemas.

				.text.white.mt1.wow.fadeInUp
						| Assim, temos as seguintes diretrizes gerais para Análise de Riscos, clique para conhecê-las:
				
				.its.itsDSFD
					.it.wow.fadeInUp
						img.wow.zoomIn(src="../../assets/img/2025b/section02b.png", alt="")
						.infB.bold.roxo 1
						.intT.wow.zoomIn Cumprir as leis e regulamentações locais, bem como os padrões éticos globais.
					.it.wow.fadeInUp
						img.wow.zoomIn(src="../../assets/img/2025b/section02b.png", alt="")
						.infB.bold.roxo 2
						.intT.wow.zoomIn Fazer uma breve pausa, diante de um dilema, para refletir sobre as questões<br> apresentadas pelos 4Ps.
					.it.wow.fadeInUp.it3
						img.wow.zoomIn(src="../../assets/img/2025b/section02b.png", alt="")
						.infB.bold.roxo 3
						.intT.wow.zoomIn A primeira linha de defesa é sempre a melhor opção.




						
			section#local3.info.info2.wow.fadeInUp.atB.at02.local.local3(local=3)
				.title
					h2.mt0.mb0.roxo PRINCIPAIS RISCOS
					.text.bold Vamos conhecer os temas mais sensíveis e recorrentes em nosso negócio.
				
				.blockDF.wow.fadeInUp
					img.imgS(src="../../assets/img/2025b/section03.png", alt="")
					.basCont
						.titlD Suborno e corrupção
						.content
							.text.azul.bold Envolvem o uso de algo de valor para influenciar indevidamente uma pessoa em posição de poder ou confiança pública.
							
							.text.mt1.rosa.bold Principais stakeholders:
							ul 
								li Profissionais de saúde (HCP), farmacêuticos, enfermeiros e agentes públicos
							.text.mt1.rosa.bold Princípio/Mitigação:
							ul 
								li Não tolerar suborno ou outras formas de corrupção em nenhuma circunstância.
								li Não oferecer nem aceitar subornos, tampouco permitir que terceiros o façam em nosso nome.
								li Garantir que as interações externas estejam em conformidade com o valor justo de mercado (FMV), com transparência nas despesas e razoabilidade.
							.text.mt1.rosa.bold Atividades de Alto Risco:
							ul 
								li Interações com o governo, interações com potenciais parceiros de negócios, pagamento por serviços (Fee for Service), T&E (por exemplo, presentes e hospitalidades excessivas, incluindo refeições), financiamento externo, bônus e descontos a distribuidores, estudos de mercado e compra de meios de comunicação social (por exemplo, promoção de conteúdos individuais de HCP nos meios de comunicação social), P&D (por exemplo, interação direta com hospitais).

				.blockDF.blockDFInverte.wow.fadeInUp
					img.imgS.imgSD(src="../../assets/img/2025b/section04.png", alt="")
					.basCont
						.titlD Promoção off label
						.content
							.text.azul.bold Marketing ou promoção de um medicamento para utilizações não aprovadas pelas agências reguladoras.
							.text.mt1.rosa.bold Princípio/Mitigação:
							ul 
								li Todas as declarações sobre nossos produtos devem ser precisas, completas, justas e respaldadas por evidências científicas, e os produtos só podem ser promovidos para os usos aprovados.
								li Materiais e atividades devem ser aprovados por meio dos procedimentos locais antes de serem utilizados.
								li Não fornecer aconselhamento médico.
							.text.mt1.rosa.bold Atividades de Alto Risco:
							ul 
								li Atividades de screening e diagnóstico (Dx), programas de acesso expandido (EAP), programas de importação, atividades pré-lançamento, redes sociais, financiamento externo, entre outros.
				
				.blockDF.wow.fadeInUp
					img.imgS.imgSAA(src="../../assets/img/2025b/section05.png", alt="")
					.basCont
						.titlD Proteção de dados
						.content
							.text.azul.bold Respeitamos e protegemos a privacidade ao coletar, utilizar, armazenar, compartilhar e/ou divulgar dados pessoais de forma justa, transparente e segura.
							.text.mt1.rosa.bold Princípio/Mitigação:
							ul 
								li Seguir rigorosamente as leis e regulamentações, bem como os padrões e processos de gestão da AZ para privacidade e segurança de dados.
								li O tratamento de dados pessoais deve atender a necessidades legítimas de negócios, com base em consentimento individual ou interesse legítimo.
								li Os métodos de processamento de dados devem ser justos, legais, transparentes e seguir os princípios de minimização, precisão e tratamento seguro.
								li Transferências internacionais de dados e transferências para terceiros devem estar em conformidade com as leis e regulamentações.
							.text.mt1.rosa.bold Atividades de Alto Risco:
							ul 
								li Ferramentas digitais, Programas de Suporte ao Paciente (PSPs), Programas de Acesso ao Paciente (PAPs), atividades de screening e diagnóstico, programas Transform Care e estudos clínicos.

				.blockDF.blockDFInverte.wow.fadeInUp
					img.imgS(src="../../assets/img/2025b/section06.png", alt="")
					.basCont
						.titlD Fraude
						.content
							.text.azul.bold Fraude é geralmente definida como engano ilícito ou criminoso com o objetivo de obter ganho financeiro ou pessoal.
							.text.mt1.rosa.bold Principais stakeholders:
							ul 
								li Profissionais de saúde (HCP), farmacêuticos, enfermeiros e agentes públicos.
							.text.mt1.rosa.bold Princípio/Mitigação:
							ul 
								li Não se envolver em nenhuma forma de falsificação, fraude ou apropriação indébita.
								li Todas as atividades e documentos devem ser genuínos. Não são permitidos pagamentos <br>excessivos para fins indevidos.
							.text.mt1.rosa.bold Atividades de Alto Risco:
							ul 
								li Programas de Suporte ao Paciente (PSP), seguros comerciais, viagens, despesas <br>e gestão do fluxo de vendas

				.blockDF.wow.fadeInUp
					img.imgS.imgSAA(src="../../assets/img/2025b/section07.png", alt="")
					.basCont
						.titlD Antitruste (anticoncorrência)
						.content
							.text.azul.bold Devemos sempre cumprir as leis e regulamentações de concorrência (antitruste) para evitar acordos que restrinjam a competição, abusos de posição dominante (poder de mercado) ou manipulação de preços.
							.text.mt1.rosa.bold Princípio/Mitigação:
							ul 
								li Competir de forma justa com base nos méritos dos nossos produtos.
								li Operar de forma independente no mercado e ter cautela em todas as comunicações diretas e <br>indiretas com concorrentes. 
								li Garantir que nós e terceiros definamos os preços dos produtos de forma independente <br>e que o engajamento com concorrentes ocorra apenas razões comerciais legítimas.
								li Buscar orientação jurídica, por exemplo, ao realizar transações com concorrentes.
							.text.mt1.rosa.bold Atividades de Alto Risco:
							ul 
								li Interações com concorrentes (incluindo parceiros de BD concorrentes) que não tenham propósito legítimo de negócios, estratégias de LOE que excluam injustamente genéricos/biossimilares, acordos que sustentem preços artificialmente elevados (por exemplo, com distribuidores ou redes de farmácias).

				.blockDF.blockDFInverte.wow.fadeInUp
					img.imgS(src="../../assets/img/2025b/section08.png", alt="")
					.basCont
						.titlD Riscos de Propriedade Intelectual (PI)
						.content
							.text.azul.bold Os riscos de PI existem em diversas formas, desde a apropriação indevida de segredos comerciais por ex-colaboradores até desafios genéricos a patentes que protegem os principais produtos da empresa. Esses riscos estão presentes, muitas vezes de forma discreta, em várias atividades empresariais como planejamento e desenvolvimento de negócios, estudos clínicos, inovações digitais e comercialização.
							.text.mt1.rosa.bold Princípio/Mitigação:
							ul 
								li Envolver a equipe de PI para identificar, avaliar e mitigar riscos potenciais de PI desde o início, antes de iniciar um projeto empresarial (por exemplo, projeção de LOE, estudo clínico, inovação digital com terceiros).
								li Os riscos de PI muitas vezes não são evidentes e são complexos de analisar. A identificação precoce desses riscos, aliada a uma estratégia sólida de PI, é fundamental para mitigá-los ou evitá-los.
								li Embora alguns riscos de PI possam ser mitigados (por exemplo, por meio de acordos com terceiros), outros não são passíveis de mitigação posterior.
								li As decisões de negócios devem ser tomadas considerando cuidadosamente os riscos de PI envolvidos.
							.text.mt1.rosa.bold Atividades de Alto Risco:
							ul 
								li Descoberta precoce; desenvolvimento em estágio avançado; estudos clínicos; publicação prematura (por exemplo, de um protocolo de estudo clínico ou resultado); BD com uma terceira parte; investimento;<br> sucesso comercial.

				.blockDFG.wow.fadeInUp
					img.imgS.imgSAA(src="../../assets/img/2025b/section09.png", alt="")
					.basCont
						.titlD.bold.azul PRINCIPAIS ATIVIDADES x POTENCIAIS RISCOS
						.content
							.text.azul2 Para facilitar sua avaliação, criamos uma tabela que mostra nossas principais atividades, projetos e investimentos, com os potenciais riscos identificados.
							img.tabela(src="../../assets/img/2025b/tabela.png", alt="")
							small.subt (1) As atividades de implementação pós-acordo podem coincidir amplamente com aquelas descritas nos itens 1 a 14 acima e, portanto, ao identificar riscos nesta página para o item 15 (Desenvolvimento de Negócios), os riscos associados às atividades de implementação pós-acordo não são o foco principal.
		
				.sec12.wow.fadeInUp
					
					.info.wow.fadeInUp
						.sec2_block01.wow.fadeInUp
							h4
								| <b>DESAFIO COMPLIANCE</b>
						img.wow.zoomIn.sec2_01_img(src="../../assets/img/2025b/section10.png", alt="")

						.line.wow.fadeInUp
							
							.infoSeta
								.text.azul.bold.arrasteInfo Arraste o número do risco provável para sua ação de mitigação associada:
								

						.arrasteExercicio.arrasteExercicio5.wow.fadeInUp(arraste=5, exer=3)
							.arrasteExercicioBase
								.itCons
									.itContainer
										
										img(src="../../assets/img/2025b/section10a.png", alt="")
										.containTxt Suborno e Corrupção
										.it.it1.dragDrop_element(arraste=1) 1

									.itContainer
										
										img(src="../../assets/img/2025b/section10b.png", alt="")
										.containTxt <div>Promoção <br><i>off label</i> 	</div>
										.it.it2.dragDrop_element(arraste=2) 2
									
									.itContainer
										
										img(src="../../assets/img/2025b/section10c.png", alt="")
										.containTxt <div>Privacidade <br>de Dados</div>
										.it.it3.dragDrop_element(arraste=3) 3

									.itContainer
										
										img(src="../../assets/img/2025b/section10d.png", alt="")
										.containTxt Fraude
										.it.it4.dragDrop_element(arraste=4) 4

									.itContainer
										
										img(src="../../assets/img/2025b/section10e.png", alt="")
										.containTxt Antitruste
										.it.it5.dragDrop_element(arraste=5) 5
									
									.itContainer
										
										img(src="../../assets/img/2025b/section10f.png", alt="")
										.containTxt Propriedade Intelectual (PI)
										.it.it6.dragDrop_element(arraste=6) 6

									

								.contCons
									.contContainer
										.cont.dragDrop_element(alvo=3)
											.td O tratamento de dados pessoais deve atender a necessidades legítimas de negócios, com base em consentimento individual ou interesse legítimo.
									.contContainer
										.cont.dragDrop_element(alvo=5)
											.td Operar de forma independente no mercado e ter cautela em todas as comunicações diretas e indiretas com concorrentes.
									.contContainer
										.cont.dragDrop_element(alvo=2)
											.td Materiais e atividades devem ser aprovados por meio dos procedimentos locais antes de serem utilizados.
									.contContainer
										.cont.dragDrop_element(alvo=1)
											.td Garantir que as interações externas estejam em conformidade com o valor justo de mercado.
									.contContainer
										.cont.dragDrop_element(alvo=6)
											.td Os riscos não são óbvios de identificar e são complexos de analisar, ressaltando a importância da identificação precoce de riscos com estratégia sólida.
									.contContainer
										.cont.dragDrop_element(alvo=4)
											.td Não realizar pagamentos excessivos para fins indevidos.
									
									
										
							butom.confirmar.mt2.wow.fadeInUp
								| <span>Clique</span> para conferir.

							.feed.feed-pos.wow.fadeInUp
								img(src="../../assets/img/2025b/check.svg", alt="")
								.text.text4
									| <span class="bold">Perfeito! Você relacionou corretamente a área de risco com uma de suas ações de mitigação.</span>
							
							.feed.feed-neg.wow.fadeInUp
								img(src="../../assets/img/2025b/neg.svg", alt="")
								.text.text4
									| <span class="bold">Observe a correta associação nos iten(s) destacado(s).</span>
			
			section#local4.info.info2.wow.fadeInUp.atB.at02.local.local4(local=4)

				h2.mt0.white ÁREAS DE MAIOR ATENÇÃO
				.text.white Após a identificação das principais atividades de risco, recomendamos cuidado na gestão de projetos que envolvam interações com três áreas em especial, são elas:
			
				.blockDF.blockDFInverte.wow.fadeInUp
					img.imgS(src="../../assets/img/2025b/section11.png", alt="")
					.basCont
						.content
							.titlD Interações com Profissionais de Saúde (HCPs)
							.text.mt1 Educamos os profissionais de saúde sobre os riscos e os benefícios de nossos produtos para que possam tomar a melhor decisão de tratamento para cada paciente.
							.text.mt1.rosa.bold Principais stakeholders:
							ul 
								li Incluem-se membros das profissões médica, odontológica, farmacêutica e de enfermagem, além de funcionários administrativos relevantes.
							
							.text.mt1.rosa.bold Princípio/Mitigação:
							ul 
								li Garantir a transparência e a integridade da interação entre a empresa e os HCPs.
								li Assegurar que as interações com HCPs sigam os requisitos globais da AZ e os requisitos locais do país, inclusive quando o engajamento for gerenciado por terceiros:
							ol.ml2
								li Documentar claramente a necessidade legítima de negócio.
								li Seguir o valor justo de mercado (Fair Market Value).
								li Assinar contrato antes da prestação de qualquer serviço.
								li Obter aprovação prévia adequada pela NS.
								li Proteger os dados pessoais de acordo com as regulamentações de privacidade aplicáveis, com o consentimento do HCP.
								li Garantir que o engajamento com o HCP esteja devidamente documentado e que essa documentação seja armazenada em local designado.
							
							.text.mt1.rosa.bold Atividades de Alto Risco:
							ul 
								li Pagamento por serviços (Fee for Service), reuniões de conselho consultivo <br>(Advisory Board Meeting), consultas individuais com HCPs e reuniões de <br>intercâmbio científico (Scientific Exchange).

				.blockDF.wow.fadeInUp
					img.imgS.imgSD(src="../../assets/img/2025b/section12.png", alt="")
					.basCont
						.content
							.titlD Interações com Pacientes
							.text.mt1 Nos comunicamos com os pacientes para garantir que tenham uma boa experiência <br>com nossos estudos clínicos, produtos e serviços, além de obtermos insights valiosos <br>por meio dessas interações.
							.text.mt1.rosa.bold Principais stakeholders:
							ul 
								li Paciente, seus familiares e cuidadores.

							.text.mt1.rosa.bold Princípio/Mitigação:
							ul 
								li Tratar os pacientes com respeito e atender às suas necessidades.
								li Não fornecer aconselhamento médico e sempre direcionar os pacientes a um profissional de saúde (HCP).
								li Não promover nossos produtos diretamente aos pacientes, exceto por meio de campanhas voltadas ao consumidor, quando permitido.
								li Garantir o consentimento do paciente antes de coletar ou utilizar qualquer informação pessoal.
								li Reportar prontamente todos os eventos adversos e reclamações de qualidade de produto.
							
							.text.mt1.rosa.bold Atividades de Alto Risco:
							ul 
								li Reuniões com pacientes (como conselhos consultivos de pacientes), PSP, pesquisa de mercado, campanhas de conscientização sobre doenças, programas de e-commerce e Transform Care.
				
				.blockDF.blockDFInverte.wow.fadeInUp
					img.imgS.imgSAA(src="../../assets/img/2025b/section13.png", alt="")
					.basCont
						
						.content
							.titlD Gestão de Terceiros
							.text.mt1 Garantimos que terceiros estejam em conformidade com as leis, regulamentações,<br> padrões éticos e políticas da AZ.
							.text.mt1.rosa.bold Principais stakeholders:
							ul 
								li Fornecedores, distribuidores, farmácias, organizações de pacientes, CMOs, HCOs, hospitais virtuais e plataformas de e-commerce.
							.text.mt1.rosa.bold Princípio/Mitigação:
							ul 
								li Escolher parceiros que mantenham padrões éticos compatíveis com os nossos.
								li Realizar due diligence para verificar a reputação e avaliar os riscos associados ao relacionamento com terceiros, incluindo, mas não se limitando ao processo 3PRM.
								li Garantir que colaboradores e terceiros declarem prontamente conflitos de interesse (COI).
								li Cumprir com os princípios de valor justo de mercado (FMV), transparência e razoabilidade na aquisição de bens e serviços.
								li Não utilizar terceiros para realizar atividades proibidas pela AZ.
							.text.mt1.rosa.bold Atividades de Alto Risco:
							ul 
								li E-commerce, seguros de saúde comerciais, organizações de vendas contratadas, pesquisa de mercado, P&D, financiamento externo e fabricação. Projetos de desenvolvimento de negócios envolvendo terceiros.
				
			section#local5.wow.fadeInUp.local.local5.inativeIn(local=5)
					img.imgS.imgSAA(src="../../assets/img/2025b/section14.png", alt="")
					.basCont
						.content
							h2.mb0.white.up Estudos de Caso:
							h3.mt0.white.up Compreendendo os Principais Riscos
							.text.white Decisões aparentemente simples podem desencadear consequências complexas e, muitas vezes, críticas.
							.text.mt1.white Assista aos vídeos com casos selecionados, pensando nas áreas de maior atenção, com situações que ilustram riscos concretos que nos deparamos em nosso dia a dia.
							.blockVideos
								.itDVideo.openModal(mod="modalGeral2") 
									.tle
										.text.roxo.bold Caso 1
										.text.roxo.bold Reuniões com HCPs
									.capa
										img.capaB(src="../../assets/img/2025b/section15a.png", alt="")
										img.play.pulse(src="../../assets/img/2025b/section15player.svg", alt="")
								.itDVideo.openModal(mod="modalGeral3") 
									.tle
										.text.roxo.bold Caso 2
										.text.roxo.bold Programa de Suporte ao Paciente
									.capa
										img.capaB(src="../../assets/img/2025b/section15b.png", alt="")
										img.play.pulse(src="../../assets/img/2025b/section15player.svg", alt="")
								.itDVideo.openModal(mod="modalGeral4") 
									.tle
										.text.roxo.bold Caso 3
										.text.roxo.bold Projetos de Screening
									.capa
										img.capaB(src="../../assets/img/2025b/section15c.png", alt="")
										img.play.pulse(src="../../assets/img/2025b/section15player.svg", alt="")
								

					.modalBase.modalGeral.modalGeral2.wow.fadeIn
						.modalBaseData
							video(src="../../assets/video/caso01.mp4" controls controlsList="nodownload"  poster="../../assets/video/caso01.png")
							button.close-btn.modal-close.pulse 
								img.wow.zoomIn(src="../../assets/img/close.svg", alt="")
					.modalBase.modalGeral.modalGeral3.wow.fadeIn
						.modalBaseData
							video(src="../../assets/video/caso02.mp4" controls controlsList="nodownload"  poster="../../assets/video/caso02.png")
							button.close-btn.modal-close.pulse 
								img.wow.zoomIn(src="../../assets/img/close.svg", alt="")
					.modalBase.modalGeral.modalGeral4.wow.fadeIn
						.modalBaseData
							video(src="../../assets/video/caso02.mp4" controls controlsList="nodownload"  poster="../../assets/video/caso03.png")
							button.close-btn.modal-close.modal-complete.pulse 
								img.wow.zoomIn(src="../../assets/img/close.svg", alt="")
			
			section#local6.wow.fadeInUp.local.local6.inativeIn(local=6)
				.text Chegamos ao fim de mais uma etapa essencial do nosso compromisso com a integridade, a ética e com a sustentabilidade <br>do nosso negócio.
				.text.mt1 O treinamento anual de Compliance não é apenas uma exigência regulatória, é um reflexo dos valores que sustentam nossa <br>atuação como farmacêutica global na busca contínua pelos melhores tratamentos aos nossos pacientes.
				.text.mt1.roxo.bold Obrigado pela sua participação!
										

										

block scripts
	script(src="../../vendor/wow.min.js")
	script(src="script.js")
