extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body

		.header
		.loaderBase
			.lds-eclipse
				.spinner
				.spinner.reverse

		.body
			section#local1.sec1.local.local1(local=1)
				.base
					.baseCenter.animated.fadeInLeft.delay2
						h2.mt0 CAPACITACIÓN ANUAL DE COMPLIANCE
						
				
					.containerTxt.wow.fadeInUp.delay3
						.text.par1.white 
							| En AstraZeneca, actuamos con integridad en todas las decisiones y relaciones comerciales.
						.text.text1.mt1.par2.white 
							| Esta capacitación fue diseñada para fortalecer una cultura ética y apoyar el crecimiento responsable. 
						.text.text1.mt1.white 
							| Durante la capacitación, abordaremos riesgos <br>importantes como el soborno, la corrupción, la promoción <br>fuera de indicación, la privacidad de los datos, el fraude, la competencia y la propiedad intelectual, además de presentar herramientas prácticas para mitigarlos.
						.text.text1.mt1.white 
							| El cumplimiento normativo es responsabilidad de todos, y este es el momento de reforzar nuestro compromiso con la ética, la transparencia y la excelencia.
						
						.barra
						img.img1.wow.fadeInUp.delay3(src="../../assets/img/2025b/section01.png", alt="")
						img.img2.wow.zoomIn.delay5(src="../../assets/img/2025b/section01b.png", alt="")
						
					
					.containerTxt.containerTxt2.wow.fadeInUp.delay3
						h2.azul
							| DESAFÍOS ENFRENTADOS
						
						.text.text1.mt1.roxo.bold 
							| Aumento de la Supervisión Gubernamental
						.text.text1 
							| Enfrentamos una competencia intensa de grandes empresas locales que pueden beneficiarse de un mayor respaldo por parte del gobierno.

						.text.text1.mt1.roxo.bold 
							| Necesidad de Capacidades y Talento
						.text.text1 
							| El crecimiento de nuestros negocios exige más capacidades y talento, incluyendo liderazgo empresarial y gestión de riesgos, para enfrentar los desafíos futuros.

						.text.text1.mt1.roxo.bold 
							| Compromiso en el Terreno
						.text.text1 
							| Con la expansión de nuestros equipos, en algunas ocasiones no logramos seguir oportunamente lo que ocurre en las operaciones de campo.

						.text.text1.mt1.roxo.bold 
							| Crecimiento de Actividades Promocionales<br> y Proyectos Innovadores
						.text.text1 
							| El aumento de estas actividades representa el desafío de gestionarlas eficazmente y monitorear los riesgos asociados.
						
						.text.text1.mt1.roxo.bold 
							| Colaboración con Socios del Ecosistema
						.text.text1 
							| La participación con terceros, especialmente en iniciativas como Transform Care, implica la gestión de riesgos adicionales.


						.player
							button.openModal.pulse(mod="modalGeral1") 
								img.wow.zoomIn(src="../../assets/img/2025b/section01c.png", alt="")
			
			.modalBase.modalGeral.modalGeral1.wow.fadeIn
				.modalBaseData
					video(src="../../assets/video/video1.mp4" controls controlsList="nodownload"  poster="../../assets/video/video1.png")
					button.close-btn.modal-close.pulse 
						img.wow.zoomIn(src="../../assets/img/close.svg", alt="")
							
				
			//- .secRef
			section#local2.sec2.atB.at01.local.local2(local=2)
				img.img1.wow.fadeInUp.delay3(src="../../assets/img/2025b/section02.png", alt="")
				
				.info.wow.fadeInUp
					.sec2_block01.wow.fadeInUp
						h2
							| ANÁLISIS DE RIESGOS
						.text.white.mt1
							| El análisis de riesgos es fundamental para garantizar decisiones éticas y alineadas con los valores de AZ.
						.text.white.mt1
							| Para orientar este proceso, utilizamos cuatro principios clave, conocidos como los ‘4Ps’, que sirven como guía para reflexionar sobre dilemas y tomar decisiones responsables. Haz clic para conocerlos:

				
					<div class="flipcards wow fadeInUp">
						<div class="flipcard flipcard--red">
							<div class="flipcard__inner">
								<div class="__front">
									<h1>1</h1>
								</div>
								<div class="__back">
									h4 Propósito
									p ¿Está alineado con nuestros valores? ¿Esta decisión puede afectar nuestra reputación como empresa?
									h1 1
								</div>
							</div>
						</div>
						<div class="flipcard flipcard--blue">
							<div class="flipcard__inner">
								<div class="__front">
									<h1>2</h1>
								</div>
								<div class="__back">
									h4 Política 
									p ¿Es legal y está en conformidad? ¿Está permitido por nuestras Políticas y Procedimientos y por las leyes locales?
									h1 2
								</div>
							</div>
						</div>
						<div class="flipcard flipcard--yellow">
							<div class="flipcard__inner">
								<div class="__front">
									<h1>3</h1>
								</div>
								<div class="__back">
									h4 Percepción
									p ¿Necesito más información para tomar una decisión consciente?
									h1 3
								</div>
							</div>
						</div>
						<div class="flipcard flipcard--yellow">
							<div class="flipcard__inner">
								<div class="__front">
									<h1>4</h1>
								</div>
								<div class="__back">
									h4 Proceso
									p ¿Sé cuál es el proceso que debo seguir?
									h1 4
								</div>
							</div>
						</div>
					</div>

				.text.white.wow.fadeInUp
						| En AstraZeneca, utilizamos el modelo de tres líneas de defensa para identificar y mitigar riesgos, que consiste en:
				ul.ml2.white.wow.fadeInUp
					li.white 1ª línea: <b>Áreas de negocio</b>;
					li.white 2ª línea: <b>Compliance</b>;
					li.white 3ª línea: <b>GIA (Group Internal Audit)</b>.

				.text.white.mt1.wow.fadeInUp
						| <b>Como primera línea de defensa</b>, los equipos de negocio evalúan y gestionan riesgos, mantienen controles diarios y monitorean las actividades, registrando y resolviendo posibles problemas.

				.text.white.mt1.wow.fadeInUp
						| Así, contamos con las siguientes directrices generales para el Análisis de Riesgos. <br>Haz clic para conocerlas:
				
				.its.itsDSFD
					.it.wow.fadeInUp
						img.wow.zoomIn(src="../../assets/img/2025b/section02b.png", alt="")
						.infB.bold.roxo 1
						.intT.wow.zoomIn Cumplir con las leyes y regulaciones locales, así como con los estándares éticos globales.
					.it.wow.fadeInUp
						img.wow.zoomIn(src="../../assets/img/2025b/section02b.png", alt="")
						.infB.bold.roxo 2
						.intT.wow.zoomIn Tomarse una breve pausa, ante un dilema, para reflexionar sobre las cuestiones planteadas por los 4Ps.
					.it.wow.fadeInUp.it3
						img.wow.zoomIn(src="../../assets/img/2025b/section02b.png", alt="")
						.infB.bold.roxo 3
						.intT.wow.zoomIn La primera línea de defensa siempre es la mejor opción.




						
			section#local3.info.info2.wow.fadeInUp.atB.at02.local.local3(local=3)
				.title
					h2.mt0.mb0.roxo PRINCIPALES RIESGOS
					.text.bold Vamos a conocer los temas más sensibles y recurrentes en nuestro negocio.
				
				.blockDF.wow.fadeInUp
					img.imgS(src="../../assets/img/2025b/section03.png", alt="")
					.basCont
						.titlD Soborno y corrupción
						.content
							.text.azul.bold Implican el uso de algo de valor para influir indebidamente en una persona que ocupa una posición de poder o de confianza pública.
							
							.text.mt1.rosa.bold Principales stakeholders:
							ul 
								li Profesionales de la salud (HCP), farmacéuticos, enfermeros y funcionarios públicos.
							.text.mt1.rosa.bold Principio / Mitigación:
							ul 
								li No tolerar el soborno ni otras formas de corrupción bajo ninguna circunstancia.
								li No ofrecer ni aceptar sobornos, ni permitir que terceros lo hagan en nuestro nombre.
								li Garantizar que las interacciones externas estén alineadas con el Fair Market Value (FMV), con transparencia en los gastos y razonabilidad.
							.text.mt1.rosa.bold Actividades de Alto Riesgo:
							ul 
								li Interacciones con el gobierno, interacciones con posibles socios comerciales, pagos por servicios (Fee for Service), T&E (por ejemplo, regalos y hospitalidades excesivas, incluyendo comidas), financiamiento externo, bonificaciones y descuentos a distribuidores, estudios de mercado y compra de medios de comunicación social (por ejemplo, promoción de contenidos individuales de HCP en redes sociales), I+D (por ejemplo, interacción directa con hospitales).

				.blockDF.blockDFInverte.wow.fadeInUp
					img.imgS.imgSD(src="../../assets/img/2025b/section04.png", alt="")
					.basCont
						.titlD Promoción off label
						.content
							.text.azul.bold Marketing o promoción de un medicamento para usos no aprobados por las agencias reguladoras.
							.text.mt1.rosa.bold Principio / Mitigación:
							ul 
								li Todas las declaraciones sobre nuestros productos deben ser precisas, completas, justas y respaldadas por evidencia científica, y los productos solo pueden ser promovidos para los usos aprobados.
								li Los materiales y actividades deben ser aprobados a través de los procedimientos locales <br>antes de ser utilizados.
								li No proporcionar asesoramiento médico.

							.text.mt1.rosa.bold Actividades de Alto Riesgo:
							ul 
								li Actividades de screening y diagnóstico (Dx), programas de acceso expandido (EAP), programas de importación, actividades de pre-lanzamiento, redes sociales, financiamiento externo, entre otros.
				
				.blockDF.wow.fadeInUp
					img.imgS.imgSAA(src="../../assets/img/2025b/section05.png", alt="")
					.basCont
						.titlD Protección de datos
						.content
							.text.azul.bold Respetamos y protegemos la privacidad al recopilar, utilizar, almacenar, compartir y/o divulgar datos personales de manera justa, transparente y segura.
							.text.mt1.rosa.bold Principio / Mitigación:
							ul 
								li Cumplir estrictamente con las leyes y regulaciones, así como con los estándares y procesos de gestión de AZ para la privacidad y seguridad de los datos.
								li El tratamiento de datos personales debe responder a necesidades legítimas del negocio, basado en el consentimiento individual o en el interés legítimo.
								li Los métodos de procesamiento de datos deben ser justos, legales, transparentes y seguir los principios de minimización, precisión y tratamiento seguro.
								li Las transferencias internacionales de datos y las transferencias a terceros deben cumplir con las leyes y regulaciones aplicables.
							.text.mt1.rosa.bold Actividades de Alto Riesgo:
							ul 
								li Herramientas digitales, Programas de Soporte al Paciente (PSPs), Programas de Acceso al Paciente (PAPs), actividades de screening y diagnóstico, programas Transform Care y estudios clínicos.

				.blockDF.blockDFInverte.wow.fadeInUp
					img.imgS(src="../../assets/img/2025b/section06.png", alt="")
					.basCont
						.titlD Fraude
						.content
							.text.azul.bold La fraude se define generalmente como un engaño ilícito o criminal con el objetivo de obtener un beneficio financiero o personal.
							.text.mt1.rosa.bold Principales stakeholders:
							ul 
								li Profesionales de la salud (HCP), farmacéuticos, enfermeros y funcionarios públicos.
							.text.mt1.rosa.bold Principio / Mitigación:
							ul 
								li No involucrarse en ninguna forma de falsificación, fraude o apropiación indebida.
								li Todas las actividades y documentos deben ser genuinos. No se permiten pagos excesivos con fines indebidos.
							.text.mt1.rosa.bold Actividades de Alto Riesgo:
							ul 
								li Programas de Soporte al Paciente (PSP), seguros comerciales, T&E y gestión del flujo de ventas.

				.blockDF.wow.fadeInUp
					img.imgS.imgSAA(src="../../assets/img/2025b/section07.png", alt="")
					.basCont
						.titlD Antitrust (anticompetencia)
						.content
							.text.azul.bold Siempre debemos cumplir con las leyes y regulaciones de competencia (antitrust) para evitar acuerdos que restrinjan la competencia, abusos de posición dominante (poder de mercado) o manipulación de precios.
							.text.mt1.rosa.bold Principio / Mitigación:
							ul 
								li Competir de manera justa, basándonos en los méritos de nuestros productos.
								li Operar de forma independiente en el mercado y actuar con cautela en todas las comunicaciones directas e indirectas con competidores.
								li Asegurar que tanto nosotros como terceros definamos los precios de los productos de forma independiente, y que el contacto con competidores se dé únicamente por razones comerciales legítimas.
								li Buscar orientación legal, por ejemplo, al realizar transacciones con competidores.
							.text.mt1.rosa.bold Actividades de Alto Riesgo:
							ul 
								li Interacciones con competidores (incluidos socios de BD que también sean competidores) sin un propósito comercial legítimo, estrategias de LOE que excluyan injustamente genéricos/biosimilares, acuerdos que mantengan precios artificialmente elevados (por ejemplo, con distribuidores o cadenas de farmacias).

				.blockDF.blockDFInverte.wow.fadeInUp
					img.imgS(src="../../assets/img/2025b/section08.png", alt="")
					.basCont
						.titlD Riesgos de Propiedad Intelectual (PI)
						.content
							.text.azul.bold Los riesgos de PI existen en diversas formas, desde la apropiación indebida de secretos comerciales por excolaboradores hasta desafíos genéricos a patentes que protegen los principales productos de la empresa. Estos riesgos suelen estar presentes, muchas veces de forma discreta, en varias actividades empresariales como planificación y desarrollo de negocios, estudios clínicos, innovaciones digitales y comercialización.
							.text.mt1.rosa.bold Principio / Mitigación:
							ul 
								li Involucrar al equipo de PI para identificar, evaluar y mitigar riesgos potenciales desde el inicio, antes de comenzar un proyecto empresarial (por ejemplo, proyección de LOE, estudio clínico, innovación digital con terceros).
								li Los riesgos de PI muchas veces no son evidentes y son complejos de analizar. La identificación temprana de estos riesgos, junto con una estrategia sólida de PI, es fundamental para mitigarlos o evitarlos.
								li Aunque algunos riesgos de PI pueden ser mitigados (por ejemplo, mediante acuerdos con terceros), otros no pueden ser gestionados posteriormente.
								li Las decisiones empresariales deben tomarse considerando cuidadosamente los riesgos de PI involucrados.
							.text.mt1.rosa.bold Actividades de Alto Riesgo:
							ul 
								li Descubrimiento temprano; desarrollo en etapa avanzada; estudios clínicos; publicación prematura (por ejemplo, de un protocolo de estudio clínico o resultado); BD con una tercera parte; inversión; éxito comercial.

				.blockDFG.wow.fadeInUp
					img.imgS.imgSAA(src="../../assets/img/2025b/section09.png", alt="")
					.basCont
						.titlD.bold.azul PRINCIPALES ACTIVIDADES x RIESGOS POTENCIALES
						.content
							.text.azul2 Para facilitar su evaluación, hemos creado una tabla que muestra nuestras principales actividades, proyectos e inversiones, junto con los riesgos potenciales identificados.
							img.tabela(src="../../assets/img/2025b/tabela.png", alt="")
							small.subt (1) Las actividades de implementación posteriores al acuerdo pueden coincidir ampliamente con las descritas en los ítems 1 al 14 anteriores y, <br>por lo tanto, al identificar riesgos en esta página para el ítem 15 (Desarrollo de Negocios), los riesgos asociados a la implementación posterior al <br>acuerdo no son el foco principal.
		
				.sec12.wow.fadeInUp
					
					.info.wow.fadeInUp
						.sec2_block01.wow.fadeInUp
							h4
								| <b>DESAFÍO COMPLIANCE</b>
						img.wow.zoomIn.sec2_01_img(src="../../assets/img/2025b/section10.png", alt="")

						.line.wow.fadeInUp
							
							.infoSeta
								.text.azul.bold.arrasteInfo Arrastra el número del riesgo probable hacia su acción de mitigación correspondiente:
								

						.arrasteExercicio.arrasteExercicio5.wow.fadeInUp(arraste=5, exer=3)
							.arrasteExercicioBase
								.itCons
									.itContainer
										
										img(src="../../assets/img/2025b/section10a.png", alt="")
										.containTxt Soborno y Corrupción
										.it.it1.dragDrop_element(arraste=1) 1

									.itContainer
										
										img(src="../../assets/img/2025b/section10b.png", alt="")
										.containTxt <div>Promoción <br><i>off label</i> 	</div>
										.it.it2.dragDrop_element(arraste=2) 2
									
									.itContainer
										
										img(src="../../assets/img/2025b/section10c.png", alt="")
										.containTxt <div>Privacidad <br>de Datos</div>
										.it.it3.dragDrop_element(arraste=3) 3

									.itContainer
										
										img(src="../../assets/img/2025b/section10d.png", alt="")
										.containTxt Fraude
										.it.it4.dragDrop_element(arraste=4) 4

									.itContainer
										
										img(src="../../assets/img/2025b/section10e.png", alt="")
										.containTxt Antitrust
										.it.it5.dragDrop_element(arraste=5) 5
									
									.itContainer
										
										img(src="../../assets/img/2025b/section10f.png", alt="")
										.containTxt Propiedad Intelectual (PI)
										.it.it6.dragDrop_element(arraste=6) 6

									

								.contCons
									.contContainer
										.cont.dragDrop_element(alvo=3)
											.td El tratamiento de datos personales debe responder a necesidades legítimas del negocio, basado en el consentimiento individual o en el interés legítimo.
									.contContainer
										.cont.dragDrop_element(alvo=5)
											.td Operar de forma independiente en el mercado y actuar con cautela en todas las comunicaciones directas e indirectas con competidores.
									.contContainer
										.cont.dragDrop_element(alvo=2)
											.td Los materiales y actividades deben ser aprobados a través de los procedimientos locales antes de ser utilizados.
									.contContainer
										.cont.dragDrop_element(alvo=1)
											.td Garantizar que las interacciones externas estén alineadas con el Fair Market Value.
									.contContainer
										.cont.dragDrop_element(alvo=6)
											.td Los riesgos no son evidentes y son complejos de analizar, lo que resalta la importancia de una identificación temprana acompañada de una estrategia sólida.
									.contContainer
										.cont.dragDrop_element(alvo=4)
											.td No realizar pagos excesivos con fines indebidos.
									
									
										
							butom.confirmar.mt2.wow.fadeInUp
								| <span>Haz clic</span> para ver.

							.feed.feed-pos.wow.fadeInUp
								img(src="../../assets/img/2025b/check.svg", alt="")
								.text.text4
									| <span class="bold">¡Perfecto! Has relacionado correctamente el área de riesgo con una de sus acciones de mitigación.</span>
							
							.feed.feed-neg.wow.fadeInUp
								img(src="../../assets/img/2025b/neg.svg", alt="")
								.text.text4
									| <span class="bold">Observa la asociación correcta en el/los ítem(s) destacado(s).</span>
			
			section#local4.info.info2.wow.fadeInUp.atB.at02.local.local4(local=4)

				h2.mt0.white ÁREAS DE MAYOR ATENCIÓN
				.text.white Tras la identificación de las principales actividades de riesgo, recomendamos especial cuidado en la gestión de proyectos que involucren interacciones con tres áreas en particular. Estas son:
			
				.blockDF.blockDFInverte.wow.fadeInUp
					img.imgS(src="../../assets/img/2025b/section11.png", alt="")
					.basCont
						.content
							.titlD Interacciones con Profesionales de la Salud (HCPs)
							.text.mt1 Educamos a los profesionales de la salud sobre los riesgos y beneficios de nuestros productos para que puedan tomar la mejor decisión de tratamiento para cada paciente.
							.text.mt1.rosa.bold Principales stakeholders:
							ul 
								li Incluyen miembros de las profesiones médica, odontológica, farmacéutica y de enfermería, además de funcionarios administrativos relevantes.
							
							.text.mt1.rosa.bold Principio / Mitigación:
							ul 
								li Garantizar la transparencia e integridad en la interacción entre la empresa y los HCPs.
								li Asegurar que las interacciones con HCPs cumplan con los requisitos globales de AZ y los requisitos locales del país, incluso cuando el engagement sea gestionado por terceros:
							ol.ml2
								li Documentar claramente la necesidad legítima del negocio.
								li Seguir el Fair Market Value (FMV).
								li Firmar contrato antes de la prestación de cualquier servicio.
								li Obtener la aprobación previa correspondiente por parte de NS.
								li Proteger los datos personales conforme a las regulaciones de privacidad aplicables, con el consentimiento del HCP.
								li Asegurar que el engagement con el HCP esté debidamente documentado y que dicha documentación se almacene en el lugar designado.
							
							.text.mt1.rosa.bold Actividades de Alto Riesgo:
							ul 
								li Pagos por servicios (Fee for Service), reuniones de consejo consultivo (Advisory Board Meeting), consultas individuales con HCPs y reuniones de intercambio científico (Scientific Exchange).

				.blockDF.wow.fadeInUp
					img.imgS.imgSD(src="../../assets/img/2025b/section12.png", alt="")
					.basCont
						.content
							.titlD Interacciones con Pacientes
							.text.mt1 Nos comunicamos con los pacientes para garantizar que tengan una buena experiencia con nuestros estudios clínicos, productos y servicios, además de obtener insights valiosos a través de estas interacciones.
							.text.mt1.rosa.bold Principales stakeholders:
							ul 
								li Paciente, sus familiares y cuidadores.

							.text.mt1.rosa.bold Principio / Mitigación:
							ul 
								li Tratar a los pacientes con respeto y atender sus necesidades.
								li No proporcionar asesoramiento médico y siempre derivar a los pacientes a un profesional <br>de la salud (HCP).
								li No promover nuestros productos directamente a los pacientes, excepto mediante campañas dirigidas al consumidor, cuando esté permitido.
								li Garantizar el consentimiento del paciente antes de recopilar o utilizar cualquier <br>información personal.
								li Reportar de forma inmediata todos los eventos adversos y reclamaciones de calidad <br>de producto.
							
							.text.mt1.rosa.bold Actividades de Alto Riesgo:
							ul 
								li Reuniones con pacientes (como consejos consultivos de pacientes), PSP, investigación de mercado, campañas de concientización sobre enfermedades, programas de e-commerce y Transform Care.


				
				.blockDF.blockDFInverte.wow.fadeInUp
					img.imgS.imgSAA(src="../../assets/img/2025b/section13.png", alt="")
					.basCont
						
						.content
							.titlD Gestión de Terceros
							.text.mt1 Garantizamos que los terceros cumplan con las leyes, regulaciones, estándares <br>éticos y políticas de AZ.
							.text.mt1.rosa.bold Principales stakeholders:
							ul 
								li Proveedores, distribuidores, farmacias, organizaciones de pacientes, CMOs, HCOs, hospitales virtuales y plataformas de e-commerce.
							.text.mt1.rosa.bold Principio / Mitigación:
							ul 
								li Seleccionar socios que mantengan estándares éticos compatibles con los nuestros.
								li Realizar due diligence para verificar la reputación y evaluar los riesgos asociados a la relación con terceros, incluyendo, pero sin limitarse al proceso 3PRM.
								li Asegurar que colaboradores y terceros declaren oportunamente conflictos de interés (COI).
								li Cumplir con los principios de Fair Market Value (FMV), transparencia y razonabilidad en la adquisición de bienes y servicios.
								li No utilizar terceros para realizar actividades prohibidas por AZ.
							.text.mt1.rosa.bold Actividades de Alto Riesgo:
							ul 
								li E-commerce, seguros de saúde comerciais, organizações de vendas contratadas, pesquisa de mercado, P&D, financiamento externo e fabricação. Projetos de desenvolvimento de negócios envolvendo terceiros.
				
			section#local5.wow.fadeInUp.local.local5.inativeIn(local=5)
					img.imgS.imgSAA(src="../../assets/img/2025b/section14.png", alt="")
					.basCont
						.content
							h2.mb0.white.up Estudios de Caso:
							h3.mt0.white.up Comprendiendo los Principales Riesgos
							.text.white Decisiones aparentemente simples pueden desencadenar consecuencias complejas y, <br>en muchos casos, críticas.
							.text.mt1.white Mira los videos con casos seleccionados, pensando en las áreas de mayor atención, con situaciones que ilustran riesgos concretos que enfrentamos en nuestro día a día.
							.blockVideos
								.itDVideo.openModal(mod="modalGeral2") 
									.tle
										.text.roxo.bold Caso 1
										.text.roxo.bold Reuniones con HCPs
									.capa
										img.capaB(src="../../assets/img/2025b/section15a.png", alt="")
										img.play.pulse(src="../../assets/img/2025b/section15player.svg", alt="")
								.itDVideo.openModal(mod="modalGeral3") 
									.tle
										.text.roxo.bold Caso 2
										.text.roxo.bold Programa de Soporte al Paciente
									.capa
										img.capaB(src="../../assets/img/2025b/section15b.png", alt="")
										img.play.pulse(src="../../assets/img/2025b/section15player.svg", alt="")
								.itDVideo.openModal(mod="modalGeral4") 
									.tle
										.text.roxo.bold Caso 3
										.text.roxo.bold Proyectos de Screening
									.capa
										img.capaB(src="../../assets/img/2025b/section15c.png", alt="")
										img.play.pulse(src="../../assets/img/2025b/section15player.svg", alt="")
								

					.modalBase.modalGeral.modalGeral2.wow.fadeIn
						.modalBaseData
							video(src="../../assets/video/caso01.mp4" controls controlsList="nodownload"  poster="../../assets/video/caso01.png")
							button.close-btn.modal-close.pulse 
								img.wow.zoomIn(src="../../assets/img/close.svg", alt="")
					.modalBase.modalGeral.modalGeral3.wow.fadeIn
						.modalBaseData
							video(src="../../assets/video/caso02.mp4" controls controlsList="nodownload"  poster="../../assets/video/caso02.png")
							button.close-btn.modal-close.pulse 
								img.wow.zoomIn(src="../../assets/img/close.svg", alt="")
					.modalBase.modalGeral.modalGeral4.wow.fadeIn
						.modalBaseData
							video(src="../../assets/video/caso03.mp4" controls controlsList="nodownload"  poster="../../assets/video/caso03.png")
							button.close-btn.modal-close.modal-complete.pulse 
								img.wow.zoomIn(src="../../assets/img/close.svg", alt="")
			
			section#local6.wow.fadeInUp.local.local6.inativeIn(local=6)
				.text Hemos concluido otra etapa esencial de nuestro compromiso con la integridad, la ética y la sostenibilidad de nuestro negocio.
				.text.mt1 La capacitación anual de Compliance no es solo un requisito regulatorio, sino un reflejo de los valores que sustentan nuestra actuación como farmacéutica global en la búsqueda continua de los mejores tratamientos para nuestros pacientes.
				.text.mt1.roxo.bold ¡Gracias por tu participación!
										

										

block scripts
	script(src="../../vendor/wow.min.js")
	script(src="script.js")
